footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #4d4b4b;
}

#footer2 {
    background: #ff0000;
}