USE [ProgramTakmicenja]
GO
/****** Object:  Table [dbo].[adminKorisnici]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminKorisnici](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[punoime] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[adminUsername] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[adminPassword] [nvarchar](255) NOT NULL,
	[salt] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clanovi]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanovi](
	[ClanID] [int] IDENTITY(1,1) NOT NULL,
	[EkipaID] [int] NOT NULL,
	[RedniBroj] [int] NOT NULL,
	[Uloga] [nvarchar](50) NOT NULL,
	[ImePrezime] [nvarchar](100) NOT NULL,
	[DatumRodjenja] [date] NULL,
	[Godine] [int] NULL,
	[UlogaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dobrovoljciRezultati]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dobrovoljciRezultati](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EkipaID] [int] NOT NULL,
	[VremeMVP_Sudija1] [decimal](10, 2) NULL,
	[VremeMVP_Sudija2] [decimal](10, 2) NULL,
	[VremeMVP_Sudija3] [decimal](10, 2) NULL,
	[VremeMVP_GlavniSudija] [decimal](10, 2) NULL,
	[Greska2_MVP_Sudija1] [int] NULL,
	[Greska2_MVP_Sudija2] [int] NULL,
	[Greska2_MVP_Sudija3] [int] NULL,
	[Greska2_MVP_GlavniSudija] [int] NULL,
	[Greska3_MVP_Sudija1] [int] NULL,
	[Greska3_MVP_Sudija2] [int] NULL,
	[Greska3_MVP_Sudija3] [int] NULL,
	[Greska3_MVP_GlavniSudija] [int] NULL,
	[Greska4_MVP_Sudija1] [int] NULL,
	[Greska4_MVP_Sudija2] [int] NULL,
	[Greska4_MVP_Sudija3] [int] NULL,
	[Greska4_MVP_GlavniSudija] [int] NULL,
	[Greska5_MVP_Sudija1] [int] NULL,
	[Greska5_MVP_Sudija2] [int] NULL,
	[Greska5_MVP_Sudija3] [int] NULL,
	[Greska5_MVP_GlavniSudija] [int] NULL,
	[Greska6_MVP_Sudija1] [int] NULL,
	[Greska6_MVP_Sudija2] [int] NULL,
	[Greska6_MVP_Sudija3] [int] NULL,
	[Greska6_MVP_GlavniSudija] [int] NULL,
	[Greska7_MVP_Sudija1] [int] NULL,
	[Greska7_MVP_Sudija2] [int] NULL,
	[Greska7_MVP_Sudija3] [int] NULL,
	[Greska7_MVP_GlavniSudija] [int] NULL,
	[Greska8_MVP_Sudija1] [int] NULL,
	[Greska8_MVP_Sudija2] [int] NULL,
	[Greska8_MVP_Sudija3] [int] NULL,
	[Greska8_MVP_GlavniSudija] [int] NULL,
	[Greska9_MVP_Sudija1] [int] NULL,
	[Greska9_MVP_Sudija2] [int] NULL,
	[Greska9_MVP_Sudija3] [int] NULL,
	[Greska9_MVP_GlavniSudija] [int] NULL,
	[Greska10_MVP_Sudija1] [int] NULL,
	[Greska10_MVP_Sudija2] [int] NULL,
	[Greska10_MVP_Sudija3] [int] NULL,
	[Greska10_MVP_GlavniSudija] [int] NULL,
	[Greska11_MVP_Sudija1] [int] NULL,
	[Greska11_MVP_Sudija2] [int] NULL,
	[Greska11_MVP_Sudija3] [int] NULL,
	[Greska11_MVP_GlavniSudija] [int] NULL,
	[Greska12_MVP_Sudija1] [int] NULL,
	[Greska12_MVP_Sudija2] [int] NULL,
	[Greska12_MVP_Sudija3] [int] NULL,
	[Greska12_MVP_GlavniSudija] [int] NULL,
	[Greska13_MVP_Sudija1] [int] NULL,
	[Greska13_MVP_Sudija2] [int] NULL,
	[Greska13_MVP_Sudija3] [int] NULL,
	[Greska13_MVP_GlavniSudija] [int] NULL,
	[Greska14_MVP_Sudija1] [int] NULL,
	[Greska14_MVP_Sudija2] [int] NULL,
	[Greska14_MVP_Sudija3] [int] NULL,
	[Greska14_MVP_GlavniSudija] [int] NULL,
	[Greska15_MVP_Sudija1] [int] NULL,
	[Greska15_MVP_Sudija2] [int] NULL,
	[Greska15_MVP_Sudija3] [int] NULL,
	[Greska15_MVP_GlavniSudija] [int] NULL,
	[Greska16_MVP_Sudija1] [int] NULL,
	[Greska16_MVP_Sudija2] [int] NULL,
	[Greska16_MVP_Sudija3] [int] NULL,
	[Greska16_MVP_GlavniSudija] [int] NULL,
	[VremeStafetaMVP_SST] [decimal](10, 2) NULL,
	[VremeStafetaMVP_SMV] [decimal](10, 2) NULL,
	[VremeStafetaMVP_ST] [decimal](10, 2) NULL,
	[VremeStafetaMVP_GlavniSudija] [decimal](10, 2) NULL,
	[Greska2_StafetaMVP_SST] [int] NULL,
	[Greska2_StafetaMVP_SMV] [int] NULL,
	[Greska2_StafetaMVP_ST] [int] NULL,
	[Greska2_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska3_StafetaMVP_SST] [int] NULL,
	[Greska3_StafetaMVP_SMV] [int] NULL,
	[Greska3_StafetaMVP_ST] [int] NULL,
	[Greska3_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska4_StafetaMVP_SST] [int] NULL,
	[Greska4_StafetaMVP_SMV] [int] NULL,
	[Greska4_StafetaMVP_ST] [int] NULL,
	[Greska4_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska5_StafetaMVP_SST] [int] NULL,
	[Greska5_StafetaMVP_SMV] [int] NULL,
	[Greska5_StafetaMVP_ST] [int] NULL,
	[Greska5_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska6_StafetaMVP_SST] [int] NULL,
	[Greska6_StafetaMVP_SMV] [int] NULL,
	[Greska6_StafetaMVP_ST] [int] NULL,
	[Greska6_StafetaMVP_GlavniSudija] [int] NULL,
 CONSTRAINT [PK__senioriR__3214EC27FAE59D8F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_dobrovoljciRezultati_EkipaID] UNIQUE NONCLUSTERED 
(
	[EkipaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ekipe]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ekipe](
	[EkipaID] [int] IDENTITY(1,1) NOT NULL,
	[NazivEkipe] [nvarchar](100) NOT NULL,
	[Kategorija] [nvarchar](50) NOT NULL,
	[DatumUnosa] [datetime] NULL,
	[Trener] [nvarchar](100) NULL,
	[VodjaEkipe] [nvarchar](100) NULL,
	[PocetniBodovi] [int] NULL,
	[OVS] [nvarchar](50) NULL,
 CONSTRAINT [PK__Ekipe__65F6014C158BFE9C] PRIMARY KEY CLUSTERED 
(
	[EkipaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ekipe_Naziv] UNIQUE NONCLUSTERED 
(
	[NazivEkipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[junioriRezultati]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[junioriRezultati](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EkipaID] [int] NOT NULL,
	[VremePrepreke_Sudija1] [decimal](18, 2) NULL,
	[VremePrepreke_Sudija2] [decimal](18, 2) NULL,
	[VremePrepreke_GlavniSudija] [decimal](18, 2) NULL,
	[Greska2_Prep_Sudija1] [int] NULL,
	[Greska2_Prep_Sudija2] [int] NULL,
	[Greska2_Prep_Sudija3] [int] NULL,
	[Greska2_Prep_Sudija4] [int] NULL,
	[Greska2_Prep_Sudija5] [int] NULL,
	[Greska2_Prep_GlavniSudija] [int] NULL,
	[Greska3_Prep_Sudija1] [int] NULL,
	[Greska3_Prep_Sudija2] [int] NULL,
	[Greska3_Prep_Sudija3] [int] NULL,
	[Greska3_Prep_Sudija4] [int] NULL,
	[Greska3_Prep_Sudija5] [int] NULL,
	[Greska3_Prep_GlavniSudija] [int] NULL,
	[Greska4_Prep_Sudija1] [int] NULL,
	[Greska4_Prep_Sudija2] [int] NULL,
	[Greska4_Prep_Sudija3] [int] NULL,
	[Greska4_Prep_Sudija4] [int] NULL,
	[Greska4_Prep_Sudija5] [int] NULL,
	[Greska4_Prep_GlavniSudija] [int] NULL,
	[Greska5_Prep_Sudija1] [int] NULL,
	[Greska5_Prep_Sudija2] [int] NULL,
	[Greska5_Prep_Sudija3] [int] NULL,
	[Greska5_Prep_Sudija4] [int] NULL,
	[Greska5_Prep_Sudija5] [int] NULL,
	[Greska5_Prep_GlavniSudija] [int] NULL,
	[Greska6_Prep_Sudija1] [int] NULL,
	[Greska6_Prep_Sudija2] [int] NULL,
	[Greska6_Prep_Sudija3] [int] NULL,
	[Greska6_Prep_Sudija4] [int] NULL,
	[Greska6_Prep_Sudija5] [int] NULL,
	[Greska6_Prep_GlavniSudija] [int] NULL,
	[Greska7_Prep_Sudija1] [int] NULL,
	[Greska7_Prep_Sudija2] [int] NULL,
	[Greska7_Prep_Sudija3] [int] NULL,
	[Greska7_Prep_Sudija4] [int] NULL,
	[Greska7_Prep_Sudija5] [int] NULL,
	[Greska7_Prep_GlavniSudija] [int] NULL,
	[Greska8_Prep_Sudija1] [int] NULL,
	[Greska8_Prep_Sudija2] [int] NULL,
	[Greska8_Prep_Sudija3] [int] NULL,
	[Greska8_Prep_Sudija4] [int] NULL,
	[Greska8_Prep_Sudija5] [int] NULL,
	[Greska8_Prep_GlavniSudija] [int] NULL,
	[Greska9_Prep_Sudija1] [int] NULL,
	[Greska9_Prep_Sudija2] [int] NULL,
	[Greska9_Prep_Sudija3] [int] NULL,
	[Greska9_Prep_Sudija4] [int] NULL,
	[Greska9_Prep_Sudija5] [int] NULL,
	[Greska9_Prep_GlavniSudija] [int] NULL,
	[Greska10_Prep_Sudija1] [int] NULL,
	[Greska10_Prep_Sudija2] [int] NULL,
	[Greska10_Prep_Sudija3] [int] NULL,
	[Greska10_Prep_Sudija4] [int] NULL,
	[Greska10_Prep_Sudija5] [int] NULL,
	[Greska10_Prep_GlavniSudija] [int] NULL,
	[Greska11_Prep_Sudija1] [int] NULL,
	[Greska11_Prep_Sudija2] [int] NULL,
	[Greska11_Prep_Sudija3] [int] NULL,
	[Greska11_Prep_Sudija4] [int] NULL,
	[Greska11_Prep_Sudija5] [int] NULL,
	[Greska11_Prep_GlavniSudija] [int] NULL,
	[VremeStafeta_Merilac1] [decimal](18, 2) NULL,
	[VremeStafeta_Merilac2] [decimal](18, 2) NULL,
	[VremeStafeta_GlavniSudija] [decimal](18, 2) NULL,
	[Greska2_Stafeta_Starter] [int] NULL,
	[Greska2_Stafeta_Merilac1] [int] NULL,
	[Greska2_Stafeta_Merilac2] [int] NULL,
	[Greska2_Stafeta_StazniSudija] [int] NULL,
	[Greska2_Stafeta_GlavniSudija] [int] NULL,
	[Greska3_Stafeta_Starter] [int] NULL,
	[Greska3_Stafeta_Merilac1] [int] NULL,
	[Greska3_Stafeta_Merilac2] [int] NULL,
	[Greska3_Stafeta_StazniSudija] [int] NULL,
	[Greska3_Stafeta_GlavniSudija] [int] NULL,
	[Greska4_Stafeta_Starter] [int] NULL,
	[Greska4_Stafeta_Merilac1] [int] NULL,
	[Greska4_Stafeta_Merilac2] [int] NULL,
	[Greska4_Stafeta_StazniSudija] [int] NULL,
	[Greska4_Stafeta_GlavniSudija] [int] NULL,
	[VremePrepreke_Sudija3] [decimal](10, 2) NULL,
	[VremePrepreke_Sudija4] [decimal](10, 2) NULL,
	[VremePrepreke_Sudija5] [decimal](10, 2) NULL,
	[VremeStafete_Starter] [decimal](10, 2) NULL,
	[VremeStafete_Merilac1] [decimal](10, 2) NULL,
	[VremeStafete_Merilac2] [decimal](10, 2) NULL,
	[VremeStafete_StazniSudija] [decimal](10, 2) NULL,
	[VremeStafete_GlavniSudija] [decimal](10, 2) NULL,
 CONSTRAINT [PK__junioriR__3214EC27F6BF8848] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[podmladakRezultati]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[podmladakRezultati](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EkipaID] [int] NOT NULL,
	[KonacniBodPodmladak] [decimal](10, 2) NULL,
	[VremeBrentaca_SST] [decimal](10, 2) NULL,
	[VremeBrentaca_SMV] [decimal](10, 2) NULL,
	[VremeBrentaca_GS] [decimal](10, 2) NULL,
	[Greska2_Brentaca_SST] [int] NULL,
	[Greska2_Brentaca_SMV] [int] NULL,
	[Greska2_Brentaca_GS] [int] NULL,
	[Greska3_Brentaca_SST] [int] NULL,
	[Greska3_Brentaca_SMV] [int] NULL,
	[Greska3_Brentaca_GS] [int] NULL,
	[Greska4_Brentaca_SST] [int] NULL,
	[Greska4_Brentaca_SMV] [int] NULL,
	[Greska4_Brentaca_GS] [int] NULL,
	[Greska5_Brentaca_SST] [int] NULL,
	[Greska5_Brentaca_SMV] [int] NULL,
	[Greska5_Brentaca_GS] [int] NULL,
	[Greska6_Brentaca_SST] [int] NULL,
	[Greska6_Brentaca_SMV] [int] NULL,
	[Greska6_Brentaca_GS] [int] NULL,
	[Greska7_Brentaca_SST] [int] NULL,
	[Greska7_Brentaca_SMV] [int] NULL,
	[Greska7_Brentaca_GS] [int] NULL,
	[Greska8_Brentaca_SST] [int] NULL,
	[Greska8_Brentaca_SMV] [int] NULL,
	[Greska8_Brentaca_GS] [int] NULL,
	[Greska9_Brentaca_SST] [int] NULL,
	[Greska9_Brentaca_SMV] [int] NULL,
	[Greska9_Brentaca_GS] [int] NULL,
	[Greska1_PV_SST] [int] NULL,
	[Greska1_PV_SMV] [int] NULL,
	[Greska1_PV_GS] [int] NULL,
	[Greska2_PV_SST] [int] NULL,
	[Greska2_PV_SMV] [int] NULL,
	[Greska2_PV_GS] [int] NULL,
	[Greska3_PV_SST] [int] NULL,
	[Greska3_PV_SMV] [int] NULL,
	[Greska3_PV_GS] [int] NULL,
	[Greska4_PV_SST] [int] NULL,
	[Greska4_PV_SMV] [int] NULL,
	[Greska4_PV_GS] [int] NULL,
	[Greska5_PV_SST] [int] NULL,
	[Greska5_PV_SMV] [int] NULL,
	[Greska5_PV_GS] [int] NULL,
	[Greska6_PV_SST] [int] NULL,
	[Greska6_PV_SMV] [int] NULL,
	[Greska6_PV_GS] [int] NULL,
	[NegBrentaca] [decimal](10, 2) NULL,
	[VremeProsekBrentaca] [decimal](10, 2) NULL,
	[ZbirGresakaBrentaca] [decimal](10, 2) NULL,
	[ZbirGresakaStafeta] [decimal](10, 2) NULL,
	[PocetniBodovi] [decimal](10, 2) NULL,
 CONSTRAINT [PK__podmlada__3214EC27433DB7D3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prijavaekipajuniora]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prijavaekipajuniora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatumUnosa] [date] NULL,
	[VatrogasniSavez] [nvarchar](100) NULL,
	[Sekretar] [nvarchar](100) NULL,
	[Komandir] [nvarchar](100) NULL,
	[PocetniBodoviVezba] [int] NULL,
	[ZadatoVremeStafeta] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesionalciRezultati]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesionalciRezultati](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EkipaID] [int] NOT NULL,
	[VremeMVP_Sudija1] [decimal](10, 2) NULL,
	[VremeMVP_Sudija2] [decimal](10, 2) NULL,
	[VremeMVP_Sudija3] [decimal](10, 2) NULL,
	[VremeMVP_GlavniSudija] [decimal](10, 2) NULL,
	[Greska2_MVP_Sudija1] [int] NULL,
	[Greska2_MVP_Sudija2] [int] NULL,
	[Greska2_MVP_Sudija3] [int] NULL,
	[Greska2_MVP_GlavniSudija] [int] NULL,
	[Greska3_MVP_Sudija1] [int] NULL,
	[Greska3_MVP_Sudija2] [int] NULL,
	[Greska3_MVP_Sudija3] [int] NULL,
	[Greska3_MVP_GlavniSudija] [int] NULL,
	[Greska4_MVP_Sudija1] [int] NULL,
	[Greska4_MVP_Sudija2] [int] NULL,
	[Greska4_MVP_Sudija3] [int] NULL,
	[Greska4_MVP_GlavniSudija] [int] NULL,
	[Greska5_MVP_Sudija1] [int] NULL,
	[Greska5_MVP_Sudija2] [int] NULL,
	[Greska5_MVP_Sudija3] [int] NULL,
	[Greska5_MVP_GlavniSudija] [int] NULL,
	[Greska6_MVP_Sudija1] [int] NULL,
	[Greska6_MVP_Sudija2] [int] NULL,
	[Greska6_MVP_Sudija3] [int] NULL,
	[Greska6_MVP_GlavniSudija] [int] NULL,
	[Greska7_MVP_Sudija1] [int] NULL,
	[Greska7_MVP_Sudija2] [int] NULL,
	[Greska7_MVP_Sudija3] [int] NULL,
	[Greska7_MVP_GlavniSudija] [int] NULL,
	[Greska8_MVP_Sudija1] [int] NULL,
	[Greska8_MVP_Sudija2] [int] NULL,
	[Greska8_MVP_Sudija3] [int] NULL,
	[Greska8_MVP_GlavniSudija] [int] NULL,
	[Greska9_MVP_Sudija1] [int] NULL,
	[Greska9_MVP_Sudija2] [int] NULL,
	[Greska9_MVP_Sudija3] [int] NULL,
	[Greska9_MVP_GlavniSudija] [int] NULL,
	[Greska10_MVP_Sudija1] [int] NULL,
	[Greska10_MVP_Sudija2] [int] NULL,
	[Greska10_MVP_Sudija3] [int] NULL,
	[Greska10_MVP_GlavniSudija] [int] NULL,
	[Greska11_MVP_Sudija1] [int] NULL,
	[Greska11_MVP_Sudija2] [int] NULL,
	[Greska11_MVP_Sudija3] [int] NULL,
	[Greska11_MVP_GlavniSudija] [int] NULL,
	[Greska12_MVP_Sudija1] [int] NULL,
	[Greska12_MVP_Sudija2] [int] NULL,
	[Greska12_MVP_Sudija3] [int] NULL,
	[Greska12_MVP_GlavniSudija] [int] NULL,
	[Greska13_MVP_Sudija1] [int] NULL,
	[Greska13_MVP_Sudija2] [int] NULL,
	[Greska13_MVP_Sudija3] [int] NULL,
	[Greska13_MVP_GlavniSudija] [int] NULL,
	[Greska14_MVP_Sudija1] [int] NULL,
	[Greska14_MVP_Sudija2] [int] NULL,
	[Greska14_MVP_Sudija3] [int] NULL,
	[Greska14_MVP_GlavniSudija] [int] NULL,
	[Greska15_MVP_Sudija1] [int] NULL,
	[Greska15_MVP_Sudija2] [int] NULL,
	[Greska15_MVP_Sudija3] [int] NULL,
	[Greska15_MVP_GlavniSudija] [int] NULL,
	[Greska16_MVP_Sudija1] [int] NULL,
	[Greska16_MVP_Sudija2] [int] NULL,
	[Greska16_MVP_Sudija3] [int] NULL,
	[Greska16_MVP_GlavniSudija] [int] NULL,
	[VremeStafetaMVP_SST] [decimal](10, 2) NULL,
	[VremeStafetaMVP_SMV] [decimal](10, 2) NULL,
	[VremeStafetaMVP_ST] [decimal](10, 2) NULL,
	[VremeStafetaMVP_GlavniSudija] [decimal](10, 2) NULL,
	[Greska2_StafetaMVP_SST] [int] NULL,
	[Greska2_StafetaMVP_SMV] [int] NULL,
	[Greska2_StafetaMVP_ST] [int] NULL,
	[Greska2_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska3_StafetaMVP_SST] [int] NULL,
	[Greska3_StafetaMVP_SMV] [int] NULL,
	[Greska3_StafetaMVP_ST] [int] NULL,
	[Greska3_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska4_StafetaMVP_SST] [int] NULL,
	[Greska4_StafetaMVP_SMV] [int] NULL,
	[Greska4_StafetaMVP_ST] [int] NULL,
	[Greska4_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska5_StafetaMVP_SST] [int] NULL,
	[Greska5_StafetaMVP_SMV] [int] NULL,
	[Greska5_StafetaMVP_ST] [int] NULL,
	[Greska5_StafetaMVP_GlavniSudija] [int] NULL,
	[Greska6_StafetaMVP_SST] [int] NULL,
	[Greska6_StafetaMVP_SMV] [int] NULL,
	[Greska6_StafetaMVP_ST] [int] NULL,
	[Greska6_StafetaMVP_GlavniSudija] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SudijaTakmicenja]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SudijaTakmicenja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sudija_id] [int] NULL,
	[republickaTakmicenja] [nvarchar](100) NOT NULL,
	[ulogaNaTakmicenju] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TabelaSudija]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabelaSudija](
	[imePrezime] [nvarchar](50) NULL,
	[datumRodjenja] [date] NULL,
	[brojTelefona] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[gradMesto] [nvarchar](50) NULL,
	[vatrogasniSavez] [nvarchar](50) NULL,
	[dvdDrustvo] [nvarchar](50) NULL,
	[sudijaOd] [date] NULL,
	[vaznostLicence] [date] NULL,
	[vrstaLicence] [nvarchar](50) NULL,
	[brojLegitimacije] [int] NULL,
	[SudijeID] [int] IDENTITY(1,1) NOT NULL,
	[datumUnosa] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SudijeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takmicenja]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takmicenja](
	[ID] [nchar](10) NOT NULL,
	[mestoTakmicenja] [nvarchar](50) NULL,
 CONSTRAINT [PK_Takmicenja] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uloge]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uloge](
	[UlogaID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UlogaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unosEkipaJuniora]    Script Date: 11.5.2026. 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unosEkipaJuniora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImePrezime] [nvarchar](200) NULL,
	[DatumRodjenja] [date] NULL,
	[Godine] [int] NULL,
	[Kategorija] [nvarchar](100) NULL,
	[Uloga] [nvarchar](100) NULL,
	[DVD] [nvarchar](100) NULL,
	[OVS] [nvarchar](100) NULL,
	[Trener] [nvarchar](100) NULL,
	[Vodja] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ekipe] ADD  CONSTRAINT [DF__Ekipe__DatumUnos__6FE99F9F]  DEFAULT (getdate()) FOR [DatumUnosa]
GO
ALTER TABLE [dbo].[TabelaSudija] ADD  DEFAULT (getdate()) FOR [datumUnosa]
GO
ALTER TABLE [dbo].[Clanovi]  WITH CHECK ADD  CONSTRAINT [FK__Clanovi__EkipaID__72C60C4A] FOREIGN KEY([EkipaID])
REFERENCES [dbo].[Ekipe] ([EkipaID])
GO
ALTER TABLE [dbo].[Clanovi] CHECK CONSTRAINT [FK__Clanovi__EkipaID__72C60C4A]
GO
ALTER TABLE [dbo].[Clanovi]  WITH CHECK ADD  CONSTRAINT [FK_Clanovi_Ekipe] FOREIGN KEY([EkipaID])
REFERENCES [dbo].[Ekipe] ([EkipaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clanovi] CHECK CONSTRAINT [FK_Clanovi_Ekipe]
GO
ALTER TABLE [dbo].[dobrovoljciRezultati]  WITH CHECK ADD  CONSTRAINT [FK_SenioriRezultati_Ekipe] FOREIGN KEY([EkipaID])
REFERENCES [dbo].[Ekipe] ([EkipaID])
GO
ALTER TABLE [dbo].[dobrovoljciRezultati] CHECK CONSTRAINT [FK_SenioriRezultati_Ekipe]
GO
ALTER TABLE [dbo].[junioriRezultati]  WITH CHECK ADD  CONSTRAINT [FK_junioriRezultati_Ekipe] FOREIGN KEY([EkipaID])
REFERENCES [dbo].[Ekipe] ([EkipaID])
GO
ALTER TABLE [dbo].[junioriRezultati] CHECK CONSTRAINT [FK_junioriRezultati_Ekipe]
GO
ALTER TABLE [dbo].[podmladakRezultati]  WITH CHECK ADD  CONSTRAINT [FK_PodmladakRezultati_Ekipe] FOREIGN KEY([EkipaID])
REFERENCES [dbo].[Ekipe] ([EkipaID])
GO
ALTER TABLE [dbo].[podmladakRezultati] CHECK CONSTRAINT [FK_PodmladakRezultati_Ekipe]
GO
ALTER TABLE [dbo].[SudijaTakmicenja]  WITH CHECK ADD FOREIGN KEY([sudija_id])
REFERENCES [dbo].[TabelaSudija] ([SudijeID])
GO
